/charts/**/charts
/charts/**/Chart.lock
/charts/*.yaml

# misc
.DS_Store
.env

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
