dind:
  enabled: true

  generic:
    services:
      default:
        fullName: dind

generic:
  nameOverride: kool

  containers:
    default:
      image:
        repository: kooldev/kool
        pullPolicy: Always
        tag: "1.6.0"
      args: [ "tail", "-f", "/dev/null" ]
      env:
        - name: "DOCKER_HOST"
          value: "tcp://dind:2375"
      # volumeMounts:
      #   - name: bins
      #     mountPath: "/kool"

  # configMaps:
  #   - name: bins
  #     files:
  #       bash_1: |
  #         ...
  #       bash_2: |
  #         ...

  # volumes:
  #   - name: bins
  #     configMap:
  #       name: bins
  #       defaultMode: 0755
